*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  /* background-image: url(../assets/images/sleep-cat.jpeg); */
  background-color: #333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.title {
  color: #fff;
}

.flag {
  width: 250px;
  height: 170px;
  border: 2px solid #fff;
  display: inline-block;
}
.flag--first {
  background-image: linear-gradient(red 33%, blue 33% 66%, yellow 66%);
}
.flag--second {
  left: 270px;
  background-image: linear-gradient(
    to right,
    black 33%,
    yellow 33% 66%,
    red 66%
  );
}
.flag--third {
  left: 540px;

  background-image: linear-gradient(
    lightblue 40%,
    white 40% 45%,
    black 45% 60%,
    white 60% 65%,
    lightblue 65%
  );
}
.flag--fourth {
  top: 180px;
  background-image: linear-gradient(to right, green 40%, transparent 40%),
    linear-gradient(yellow 50%, red 50%);
}
.flag--fifth {
  top: 180px;
  left: 270px;

  background-image: linear-gradient(135deg, green 40%, yellow 40% 60%, red 60%);
}

.flag--sixth {
  top: 180px;
  left: 540px;

  background-image: linear-gradient(120deg, blue 25%, transparent 25%),
    linear-gradient(134deg, yellow 43%, transparent 43%),
    linear-gradient(152deg, red 60%, transparent 60%),
    linear-gradient(163deg, white 75%, transparent 75%),
    linear-gradient(170deg, green 100%, transparent 100%);
}
